<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.6.1"
	package="com.diodict.decompiled">
    <application android:theme="@android:style/Theme.DeviceDefault" android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:label="@string/app_name"
			android:name="com.diotek.diodict3.phone.DioAuthActivity"
			android:screenOrientation="user"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
        </activity>
        <activity
			android:name="com.diotek.diodict.InitActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:screenOrientation="user"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			>
		</activity>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.SearchListActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection" android:windowSoftInputMode="adjustPan"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.FlashcardActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.FlashcardItemActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.HistoryActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.SettingActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.HelpActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.diotek.diodict.WikipediaActivity" android:screenOrientation="user"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.CradleActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.StudyActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.DictationActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.HyperSearchActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection" android:windowSoftInputMode="adjustPan"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.HyperHistoryActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@style/TitleTheme" android:name="com.diotek.diodict.HyperFlashcardActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.diotek.diodict.MemoActivity" android:screenOrientation="user" android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"/>
		<activity android:name="com.diotek.diodict.MultiShareActivity"
			android:theme="@style/FloatAppTheme"
			android:exported="true"
			android:excludeFromRecents="true"
			>
	</activity>

		<provider android:name="com.diotek.diodict.database.DioDictProvider" android:authorities="com.diodict.decompiled.DioDictProvider"/>
        <service android:label="@string/app_name" android:name="com.diotek.diodict.service.ServiceForReadersHub" android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:label="@string/app_name" android:name="com.diotek.diodict3.phone.service.DioDictServiceMain" android:enabled="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
</manifest>
